@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
textarea,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  -webkit-text-size-adjust: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
  SimSun, sans-serif;
  -webkit-text-size-adjust:none;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2b39;
  background-color: #fff;
}
img {
  outline: none;
  vertical-align: middle;
}
nav, ul, ol {
  list-style: none;
}
a {
  color:#f9bff2;
  text-decoration: none;
  outline: none;
}
table {
  border-collapse: collapse;
}
input, select {
  border: 0 none;
  vertical-align: middle;
  outline:none;
}
a:hover {
  text-decoration: underline;
}
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}

.w1180 {
  width:1180px;
  margin:0 auto;
}


.btn {
  display: inline-block;
  width: 208px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color:#fff;
  font-size: 16px;
  background: url(../../assets/img/btn-bg.png) no-repeat;
}
